body{
    color:  blue;
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parrafo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid purple;
    color: blue;
    width: 20%;
}

.container-fluid{
    display: block;
    display: inline-block;
}


.pie{
    padding-top: 10px;
    margin-top: 40px;
    background: skyblue;
    border-radius: 5px;
    box-shadow: 0 0 10px #444444;
}

.pie p{
    text-align: center;
}


.navbar ol ul li{
    list-style: none;
    display: inline-block;
}

.navbar ol{
    margin-top: auto;
    margin-bottom: auto;
}


.navbar ol ul li{
    margin-right: 25px;
    padding: 10px;
}

.navbar ol ul li:hover{
    background: white;
    cursor: pointer;
}

.navbar{
    overflow: hidden;
	width: 100%;
    background: skyblue;
    border-radius: 5px;
    box-shadow: 0 0 10px #444444;
    
}

.navbar .A{  
	float: left;
    margin: 7px;
    margin-left: 30px;

}

.navbar .B{
    float: right;
    margin-top: 10px;
}

