body{
    color: purple;
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parrafo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid purple;
    color: blue;
    width: 20%;
}

.navbar ol ul li{
    list-style: none;
    display: inline-block;
}